@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');


body{
      font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
