body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Mukta Malar";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* channels page css  */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust based on the total width of content */
  }
}

.media-image-container {
  width: 100%; /* Ensure the container takes full width */
  /* overflow: hidden;  */
}

.media-image {
  display: flex;
  align-items: center;
  width: calc(100% * 2);  /* Double the width to fit two sets of images */
  animation: scroll 30s linear infinite; /* Continuous scroll */
  gap: 1rem;
}

.scrollimg{
  /* Adjust the spacing and size of images */
  height: 300px; /* Fixed height */
  width: 400px; 
  object-fit: cover; /* Cover the container without distortion */
  /* margin: 0 5px;  */
}
.media-image-container:hover .media-image {
  animation-play-state: paused; /* Pauses animation on hover */
}